<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412170477689-a09hfr55em1qiohhqpqnbj2k6ne2i170.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412170477689-a09hfr55em1qiohhqpqnbj2k6ne2i170</string>
	<key>API_KEY</key>
	<string>AIzaSyDOtE7Ucd2rxBd4jW_BCo3SqM-ABer0wqw</string>
	<key>GCM_SENDER_ID</key>
	<string>412170477689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kraszewski.pawel.SAFE-PACKApp</string>
	<key>PROJECT_ID</key>
	<string>safe-pack-3c9d3</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-pack-3c9d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412170477689:ios:f34e5edebdfb863a7a74a8</string>
</dict>
</plist>